{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="
                  text-xs
                  font-weight-bold
                  text-primary text-uppercase
                  mb-1
                "
              >
                Wallet Balance
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                ${{wallet.balance}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="
                  text-xs
                  font-weight-bold
                  text-warning text-uppercase
                  mb-1
                "
              >
                Pending Requests
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="
            card-header
            py-3
            d-flex
            flex-row
            align-items-center
            justify-content-between
          "
        >
          <h5 class="m-0 font-weight-bold text-primary">Your Wallet Details</h5>
        </div>
        <!-- Card Body -->
        <div>
          <div class="card-body">
            <div class="text-center"></div>
            <div>Name: {{user.first_name}} {{user.last_name}}</div>
            <div>SSN: {{wallet.ssn}}</div>
            <div>Email: {{user.email}}</div>
            <div>Phone: {{user.wallet_phone}}</div>
            <div>Other Emails: {{wallet.other_emails}}</div>
            <div>Wallet ID: {{wallet.id}}</div>
            <div>User ID: {{user.id}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="
            card-header
            py-3
            d-flex
            flex-row
            align-items-center
            justify-content-between
          "
        >
          <h6 class="m-0 font-weight-bold text-primary">Wallet Stats</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="text-center">
            <i class="fas fa-wallet fa-5x text-success"></i>
            <img src="" alt="" srcset="">
          </div>
          <div class="mt-4 text-left small">
            <div class="mr-2">
              <i class="fas fa-circle text-primary"></i> Transactions
            </div>
            <div class="mr-2">
              <i class="fas fa-circle text-success"></i> Requests
            </div>
            <div class="mr-2">
              <i class="fas fa-circle text-info"></i> Bank Accounts
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            Last 5 Transactions
          </h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Transaction ID</th>
                  <th>Memo</th>
                  <th>Party</th>
                  <th>Date and Time</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
              {% for tr in trc %}
              <tr {% if tr.t_from == user %}
                class="text-danger" {% else %} class="text-success" {% endif %}>
                <td>{{tr.id|truncatechars:15}}</td>
                <td class="">{{tr.memo}}</td>
                <td 
                {% if tr.wallet == wallet %}
                >{{tr.t_to}}
                {% else %}
                >{{tr.t_from}}
              {% endif %}
              </td>
                <td>{{tr.datetime}}</td>
                <td>
                  {% if tr.t_from == user %}
                  -
                   {% endif %}
                  ${{tr.amount}}</td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style></style>

  {% endblock %}
</div>
